<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASUTP Controller</title>
<!--    <link rel="icon" href="../static/favicon.png">-->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="centered">
        <img src="../static/logo.png" style="max-width: 300px">
        <h1 style="font-size: xxx-large; color: #009df1">API ASUTP Controller</h1>
        <button onclick="location.href='/docs'">Swagger UI</button>
    </div>
</body>
</html>